.modal__bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000050;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 600px;
    border-radius: 15px;
    min-height: 200px;
    padding: 20px;
    background-color: #fff;
}

.modal__text {
    padding: 5px;
    flex-grow: 1;
    border: 2px solid lightblue;
    border-radius: 5px;
    resize: none;
    height: auto;
    overflow: hidden;
    transition: border-color 0.3s ease;
}

.modal__text:focus {
    outline: none;
}

.text_edit__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
.error_text {
    border: 2px solid red;
    line-height: 1;
}
.error {
    color: red;
    font-size: .8em;
}